<%- include('layouts/head-layout') %> 
    <div class="top-section">
        <div class="goal-section">
            <h2 class="section-name">Daily Goals</h2>
            <ul class="tabs">
                <li class="active-tab tab">Home</li>
                <li class="tab">Grocery</li>
                <li class="tab">Office</li>
                <li class="tab plus-tab">+</li>
            </ul>
            <div class="goals">

            </div>
        </div>
        <div class="top-section__right">
            <div class="calendar-section">
                <h2 class="section-name">Calendar</h2>
                <div id="color-calendar"></div>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="schedule-section">
            <h2 class="section-name">Upcoming Contests</h2>
        </div>
        <div class="thought-section">
            <% if(locals.quoteError) { %> 

                <p class="quote-error">
                    <span class="material-icons material-icons-outlined">warning</span> 
                    <%= locals.quoteError %>
                </p>
            <% } else { %>
                <p class="quote-text">&ldquo;<%= locals.quoteText %>&rdquo;</p>
                <p class="quote-author">~ <%= locals.quoteAuthor %></p>
            <% } %>
        </div>
        <div class="progress-section">
        </div>
    </div>
<%- include('layouts/foot-layout') %> 